div{
   font-family: Microsoft JhengHei;
   font-size:24px;
   font-weight:bold
}

/*navigation*/
#navigation{
  background-color:red;
  height:83px;
  font-size: 20px
}
#navigation ul li{
  padding-top:30px;
  margin-left:29px;
}

#navigation ul li:first-child{
  list-style: none;
  display:inline-block;
  padding-top:20px;
  margin-left:0px
}
#navigation ul li:nth-child(2),li:nth-child(3),li:nth-child(4),li:nth-child(5){
  float:right;
  color:red;
}
#navigation ul li a{
  color:black
}
#navigation ul li a:hover{
  color:white;
  text-decoration: none
}

#navigation ul li:first-child a{
  color:white;
  font-weight: bold;
  font-size: 30px
}

/*banner*/
#banner{
  height:219px;
  background-size: 100% 100%;
  margin: 20px auto 0 auto
}

/*main*/
#main{
  margin: 20px auto 0 auto
}
#main article.col-3{
  outline: 1px solid green;
  float:left
}
#main article.col-9{
  float:left;
}
#main article.col-9 .btm-row{
  margin-top:20px
}

#main article.col-9 section div{
  background-image: url("img/gradient.jpg");
  background-size: cover;
  border: 1px #b6bac1 solid;
  border-radius:20px;
  width:31%;
  margin-left:2%;
  float:left;
  padding: 82px 5px 0 5px;
  height:219px;
  font-size:21px;
  text-align: center
}

/*2 colomns*/
#two-col{
  margin: 20px auto 0 auto;
}
#two-col section{
  background-color:pink;
  margin:0 auto;
  border: 1px #b6bac1 solid;
  border-radius:20px;
  width:49%;
  float:left;
  height: 250px;
}
#two-col section:last-child{
  margin-left:2%
}
#carousel_text{
	letter-spacing: 2px;
	line-height: 38px;
    height: 250px;
    width: 91%;
    padding: 0 auto;
    padding: 0px auto;
    margin: 0 auto;
    line-height: 38px;
}
#carousel_text .carousel-item{
    padding: 80px 65px 0 65px;
	text-align: center;
	font-size: 21px
}
#text a{
	font-size: 24px
}
#text a:hover{
	text-decoration: none;
	color:white
}

/*footer*/
#footer{
  background-color:maroon;
  margin:20px auto 0 auto
}
#footer .container{
  margin-top:20px
}
#footer .container section{
  margin: 0 auto 20px auto;
}
#footer .container section:first-child{
  margin-top:20px
}
#footer .container section div{
  color:white;
  text-align: center
}
#footer .container section img{
  width:18%
}
#footer .container section:nth-child(2) div:first-child{
  font-size: 21px;
}
#footer .container section:nth-child(2) div:last-child{
  font-size: 12px;
}



/*rwd*/
* {
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
